body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
a.green-button, button.black-button, button.white-button {
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
a.green-button:hover, button.black-button:hover, button.white-button:hover {
    background-color: #27ae60;
}
button.black-button {
    background-color: black;
    margin-left: 10px;
}
button.white-button {
    background-color: white;
    margin-left: 10px;
    color: black;
    border: 1px solid black;
}
.button-group {
    margin-top: 30px;
}
